registry=https://registry.npmjs.org
@sintez:registry=https://repo.dev002.local/api/npm/npm/
@sibur:registry=https://repo.dev002.local/api/npm/npm/
strict-ssl=false
always-auth=true
legacy-peer-deps=true
